aiogram==2.5.3
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
Babel==2.8.0
certifi==2019.11.28
chardet==3.0.4
idna==2.8
multidict==4.7.3
numpy==1.17.3
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
xmltodict==0.12.0
yarl==1.3.0
